/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require roboto.css
*= require material-fullpalette.css
*= require ripples.css
*= require_self
*/

html, body {
    height: 100%;
}

/*wrapper and push for sticky footer*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}