/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require roboto.css
*= require material-fullpalette.css
*= require ripples.css
*= require bootstrap-material-datetimepicker.css
*= require_self
*/

html, body {
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

/*wrapper and push for sticky footer*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 60px; /* .push must be the same height as .footer */
}

label.control-label.control-label-black {
    color: black;
}

.card-image.profile-background-img {
    height: 140px;
}

.card-body .row {
    margin: 0 0 10px;
}

.card-profile-image {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 120px;
    margin-top: -60px;
    width: 120px;
    cursor: pointer;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.card {
    margin-top: 10px;
}

.padding-left .row {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.padding-right .row {
    padding-right: 0 !important;
    margin-right: 0 !important;
}